:root {
    background-color: rgb(168, 215, 255);
}

#header {
    text-align: center;
    color: #fff;
    background-color: rgb(0, 48, 90);
}

#weatherResults {
    border: solid black 5px;
}

#searchBtn {
    margin-top: 10px;
}

#searchHistory {
    margin-top: 20px;
}

#searchHistory button {
    width: 100%;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px 0;
    background-color: blueviolet;
}

#weatherHeader {
    display: flex;
    align-items: center;
}

#cityName {
    display: inline;
    margin-top: 2rem;
}

#weatherCondition {
    display: inline;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.fiveDayWeather {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkslategray;
    color: white;
    min-height: 185px;
    margin: 7px;
  }

  .fiveDayWeatherDate {
    width: 50%;
  }

  .fiveDayWeatherPng {
    display: inline;
    margin-top: 2rem;
}